body, h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.6rem;
  padding-top: 10px;
  padding-bottom: 0px;
}

h3 {
  font-size: 1.2rem;
  padding-top: 20px;
  padding-bottom: 0px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.vehicle-card {
  border-radius: 10px;
  padding: 8px;
  position: relative;
}

.vehicle-card:before {
  content: "";
  position: absolute;
  left: 8px;
  bottom: 0px;
  width: calc(100% - 16px);
  color: silver;
  border-bottom: solid;
  border-width: 1px;
  padding: 8px;
}

.vehicle-card:hover {
  background-color: #F8F8F8;
}

.brand {
  font-size: 1.6rem;
  font-weight: bold;
}

.thank-you {
  margin-top: 20px;
}

.model-year {
  color: cornflowerblue;
  font-size: 0.9rem;
}

.model-name {
  font-size: 1.0rem;
}

.card-container {
  display: flex;
  align-items: stretch;
}

.card-container > div {
  margin-right: 10px;
}

.card {
  background-color: #F8F8F8;
  padding: 16px;
  flex-grow: 1;
}

.card-title {
  color: 	#303030;
  font-size: 1.0rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.card-value {
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 90%;
}

.card-unit {
  color: gray;
  font-size: 1.0rem;
}

.link {
  text-decoration: none;
}

.separator {
  padding-left: 8px;
  padding-right: 8px;
}

.path {
  padding-bottom: 8px;
}
